        
 <br><br>
    <div>
        <h1 class="mb-4">Window</h1>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm mb-4">
            <div class="container-fluid justify-content-center">
                <div class="navbar-nav">
                    <a class="btn btn-outline-info mx-2" href="/">Home</a>
                    <a class="btn btn-outline-info mx-2" href="/search">Search</a>
                    <a class="btn btn-outline-info mx-2" href="/mostliked">Most Liked Webcams</a>
                    <a class="btn btn-outline-info mx-2" href="/yourliked">Your Liked Webcams</a>
                    <!--We can add more links here-->
                </div>
            </div>
        </nav>
    </div>